.raisingPage {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/modal/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 23px;
    z-index: 20;
    background-color: rgba(6, 69, 117, 1);
    border: 2px solid #fff;
    border-radius: 50%;
}